.home-page {
  width: 90%;
  margin: auto;
}

.movie-title {
  color: white;
}

.movie-subtitle {
  color: white;
}

.rating-text {
  color: white;
  margin-top: 10px !important;
  font-size: 20px !important;
}

.vote-avg {
  color: white;
  font-size: 30px !important;
  margin-left: 10px !important;
}

.poster {
  width: 100%;
  margin-top: 10px;
}


.overview-text {
  color: white;
  font-size: 3vh !important;
}

.top-cast-text {
  color: lightgrey;
  font-size: 5vh !important;
  text-decoration: underline yellow;
}

.overview-heading {
  color: lightgrey;
  font-size: 5vh !important;
  text-decoration: underline yellow;
}

.profile-pic {
  border-radius: 50%;
  height: 170px;
}

.cast-card {
  width: 200px;
  height: 350px;
  background-color: lightgrey !important;
}

.cast-name {
  font-size: 3vh !important;
}

.box-office-text {
  color: white;
  font-size: 5vh !important;
  margin-top: 10px !important;
  text-decoration: underline yellow;
}

.box-office {
  color: white;
  font-size: 3vh !important;
}

.budget-text {
  color: white;
  font-size: 5vh !important;
  margin-top: 10px !important;
  margin-right: auto;
  text-decoration: underline yellow;
}

